### conventionsl if-else

In [2]:
num = 5
if num %2 == 0:
    print("even")
else:
    print("odd")

odd

print("even") if num % 2 == 0 else print("odd")

In [3]:
num = 5
print("even") if num % 2 == 0 else print("odd")

odd

In [5]:
x = 10
result = "Positive" if x>0 else "Negative"
print(result)

Positive

In [7]:
a = 18
c = "Adult" if a >= 18 else "minor"
print(c)

Adult

In [15]:
num = int(input("Enter a number: "))
result = "positive" if num > 0 else ("Negative" if num < 0 else "zero")
print(result)

Enter a number:  -58

Negative

### List comprehension

In [18]:
L = [1,32,45,78,86]
[2 * x for x in L]

[2, 64, 90, 156, 172]

In [20]:
L = [1,32,45,78,86]
[2 + x for x in L]

[3, 34, 47, 80, 88]

In [22]:
L = [1,32,45,78,86]
[2 / x for x in L]

[2.0, 0.0625, 0.044444444444444446, 0.02564102564102564, 0.023255813953488372]

In [24]:
L = [1,32,45,78,86]
[2 % x for x in L]

[0, 2, 2, 2, 2]

In [26]:
L = [1,9,2,10,56,89]
[x for x in L if x%2 == 0]

[2, 10, 56]

In [30]:
L = [1,9,2,10,56,89]
[x for x in L if x%2 != 0]

[1, 9, 89]

In [58]:
sal = [40000,50000,80000,60000]
[(x*1.2 if x<= 50000 else x) for x in sal]

[48000.0, 60000.0, 80000, 60000]

### Dictionary comprehension

In [61]:
d1 = {'Ram' : [23,35,57,78,54], 'john':[45,38,89,68,93]}
d1

{'Ram': [23, 35, 57, 78, 54], 'john': [45, 38, 89, 68, 93]}

In [63]:
{k : sum(v)/len(v) for k,v in d1.items()}

{'Ram': 49.4, 'john': 66.6}

In [13]:
def mean(l):
    #total = sum(l)
    average = sum(l)/len(l)
    return average

In [16]:
l = [35,464,545,656]
mean(l)

425.0

In [24]:
def greet(name):
    a = "Good Morning"
    return (a+name)

In [30]:
greet(" varun")

'Good Morning varun'

In [40]:
def good(name = "vinay"):
    print(f"hello! mr "+{name})

In [44]:
def avg(*n):
    aver = sum(n)/len(n)
    return aver

In [46]:
avg(23,343,56,5,88,565)

180.0